@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%; */
}

body {
    background-image: linear-gradient(to right,#012E40,#024959);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00000098;
}

h1 {
    color:#012E40;
    text-align: center;
    text-shadow: 1px 1px 2px #026d97 ;
}

h2{
    color:#3CA6A6 ;
}

p {
    text-align: justify;
}
