@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}


header > h1 {
    padding-top: 50px;
    font-size: 3em;
    font-weight: bolder;
    font-variant: small-caps;

}
    
header > p {
    font-size: em;
    padding: 15px 0px 50px 0px;
}

a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 15px;
    line-height: 2em;
    box-shadow: black 1px 1px ;
}

section.normal {
    background-color: white;
}

section.imagem {
    color: white;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}

section#q1 {
    background: darkgray url(../imagens/background001.jpg) center no-repeat fixed;
    background-size: 100% 100%;
}

section#q2 {
    background: darkgray url(../imagens/background002.jpg) center no-repeat fixed;
    background-size: 100% 100%;
}

footer {

    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}